@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: "Oswald", sans-serif;
  }
}

body {
  overflow-x: hidden;
}

.img :hover .overlay {
  opacity: 60;
}

.loading-spinner {
  animation: spin 1.25s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
